.App {
  text-align: center;
  /* Too keep footer on the bottom of the page */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.page {
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;;
  width: 90%;
  max-width: 900px;
  border-style: solid;
  border-width: thin;
  border-color: #ccc;
}

.right-shadow{
  box-shadow: 10px 10px 10px 0px rgba(204, 204, 204, 0.8);
}

.interactions {
  text-align: center;
}

footer{
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}